<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.goodsCategory.dao.GoodsCategoryDao">

    <resultMap id="firstCategory" type="com.xzsd.pc.goodsCategory.entity.GoodsCategory" >
        <id column="cate_code" property="cateId" jdbcType="VARCHAR" />
        <result column="cate_name" property="cateName" jdbcType="VARCHAR" />
        <result column="cate_code_parent" property="parentCode" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="INTEGER" />
        <result column="remark" property="cateRemark" jdbcType="VARCHAR" />
        <collection property="goodsSecondCategoryList" ofType="com.xzsd.pc.goodsCategory.entity.GoodsSecondCategory">
            <id column="secondCateId" property="secondCateId" jdbcType="VARCHAR" />
            <result column="secondCateName" property="secondCateName" jdbcType="VARCHAR" />
            <result column="cate_code_parent" property="parentCode" jdbcType="VARCHAR" />
            <result column="level" property="level" jdbcType="INTEGER" />
            <result column="remark" property="cateRemark" jdbcType="VARCHAR" />
        </collection>
    </resultMap>

    <!--查询全部分类列表-->
    <select id="listCategory" resultMap="firstCategory">
        select
          a.cate_code,
          a.cate_name,
          b.cate_code secondCateId,
          b.cate_name secondCateName
        from
          t_goods_classification a
        left join
          t_goods_classification b
        on
          a.cate_code = b.cate_code_parent
        where
          a.is_delete = 0
        and
          a.level = 1
    </select>

    <!--统计分类名称数量-->
    <select id="countCateName" parameterType="com.xzsd.pc.goodsCategory.entity.GoodsCategory" resultType="int">
        select count(cate_name)
        from
          t_goods_classification
        where
          is_delete = 0
        and
          cate_name = #{cateName}
          <if test="cateId != null and cateId !=''">
              and cate_code != #{cateId}
          </if>
    </select>

    <!--商品分类新增-->
    <insert id="addGoodsCategory" parameterType="com.xzsd.pc.goodsCategory.entity.GoodsCategory">
        insert into
          t_goods_classification
        (
          cate_code,
          cate_name,
          remark,
          cate_code_parent,
          level,
          is_delete,
          create_user,
          create_time,
          update_user,
          update_time,
          version
        )
        value
        (
          #{cateId},
          #{cateName},
          #{cateRemark},
          #{parentCode},
          #{level},
          #{isDeleted},
          #{createBy},
          now(),
          #{lastModifiedBy},
          now(),
          0
        )
    </insert>
    <!--商品分类修改-->
    <update id="updateGoodsCategory" parameterType="com.xzsd.pc.goodsCategory.entity.GoodsCategory">
        update
          t_goods_classification
        set
          cate_name = #{cateName},
          remark = #{cateRemark},
          update_user = #{lastModifiedBy},
          update_time = now(),
          version = version + 1
        where
          cate_code = #{cateId}
        and
          version = #{version}
    </update>

    <!--商品分类详情查询-->
    <select id="findGoodsCategoryById" parameterType="java.lang.String" resultType="com.xzsd.pc.goodsCategory.entity.GoodsCategory">
        select
          cate_name cateName,
          remark cateRemark,
          version
        from
          t_goods_classification
        where
          cate_code = #{cateId}
        and
          is_delete = 0
    </select>

    <!--检查该分类是否为别的分类的父级-->
    <select id="isParent" parameterType="com.xzsd.pc.goodsCategory.entity.GoodsCategory" resultType="java.lang.String">
        select
          cate_code
        from
          t_goods_classification
        where
          cate_code_parent = #{cateId}
        and
          is_delete = 0
    </select>

    <!--商品分类删除-->
    <update id="deleteGoodsCategory" parameterType="com.xzsd.pc.goodsCategory.entity.GoodsCategory">
        update
          t_goods_classification
        set
          is_delete = 1,
          update_user = #{lastModifiedBy},
          update_time = now(),
          version = version + 1
        where
          cate_code = #{cateId}
    </update>

</mapper>