<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.topOfColumn.dao.TopOfColumnDao">
    <!--获取顶部栏-->
    <select id="getTopOfColumn" parameterType="java.lang.String" resultType="com.xzsd.pc.topOfColumn.entity.TopOfColumnInfo">
       select
         name userName,
         image_url userImage,
         user_code userId,
         role role
       from
         t_sys_user
       where
         is_delete = 0
       and
         user_code = #{userId}
    </select>
</mapper>